p,h1, li, a {
    color: red;
}

h1 {
    font-family: 'Concert One', sans-serif;
}

html{
    background-color: orange;
}

h1 {
    margin: px;
    padding: 20px 0;
    color: #0E3386;
    text-shadow: 20px 20px 10px black ; 
}

body {
    width: 600px;
    background-color: orange;
    padding: 20px 20px 20px 20px;
    border: 20px orange
}

img {
    display: block;
    margin: auto;
}
